root = true

[*]
end_of_line = crlf
insert_final_newline = true
charset = utf-8

[*.{cs,csproj,sln}]
indent_style = space
indent_size = 4

[*.{json,yml,yaml,js,html,css,http}]
indent_style = space
indent_size = 2

[*.sql]
indent_style = space
indent_size = 2
